body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
header{
    height: 530px;
    background-image: url(imagem/banner.png);
    background-repeat: no-repeat;
    border-top: 10px solid rgb(17,207,112);
}
header img{
    display: flex;
   border-left: 0;
   border-right: 0;
   border-bottom:0;
   margin: 0;
   padding: 0;
}
#filha1{
    align-items: center;
    font-family: Pacifico;
    color: aliceblue;
    font-size: 25px;
    font-style: initial;
    margin-top: 120px;
    margin-left: 20%;
}

#filha2{
    margin-top: 36px;
    margin-left: 20.9%;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

#filha3{
    display: flex;        
    margin-top: 1.2%;
    margin-left: 20%;     
}

.img1{
    margin-right: 2%;
    margin-left: 0%;
    padding: 1%;
    background-color: rgba(0,0,0,0.397);
    border-radius: 50%;
}

.img2{
    margin-right: 2%;
    margin-left: 0%;
    padding: 1%;
    background-color: rgba(0,0,0,0.397);
    border-radius: 50%;
}

.img3{
    margin-right: 2%;
    margin-left: 0%;
    padding: 1%;
    background-color: rgba(0,0,0,0.397);
    border-radius: 45%;
}

#filha3 img:hover{
    background-color: rgb(17,207,112);
}

section img{
    background-color: rgb(17,207,112);
    padding: 1.5%;
    border-radius: 100%;
    padding: left 45%;
}